html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(7,24,38,0.99);
  overflow: hidden;
}

main {
  overflow: hidden;
}

* {
  outline: none;
  box-sizing: border-box;
}

*:focus {
  outline: none!important;
}

button {
  border: 0;
  background: transparent;
}

a {
  text-decoration: none;
}

canvas {
  vertical-align: middle;
}