#menu {
  display: block;
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7,24,38,0.79);
  z-index: 2;
  opacity: 0;
  transition: opacity .3s linear;
  pointer-events: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -240px;
    left: 0;
    right: 0;
    margin: auto;
    width: 450px;
    height: 450px;
    pointer-events: none;
    background-image: url('/images/05x/menu.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .menu-section {
    width: 117px;
    height: 50px;
    position: absolute;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .menu-bullet {
    position: absolute;
    width: 12px;
    height: 12px;
    pointer-events: none;

    &::after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background-image: url('/images/05x/menu-bullet.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.menu-open {
  #menu {
    opacity: 1;
    pointer-events: auto;
  }
}

@include media-breakpoint-up(sm) {
  #menu {
    &::after {
      background-image: url('/images/1x/menu.png');
    }
  }

  .menu-bullet {
    &::after {
      background-image: url('/images/1x/menu-bullet.png');
    }
  }
}

@include media-breakpoint-up(lg) {
  #menu {
    &::after {
      background-image: url('/images/2x/menu.png');
    }
  }

  .menu-bullet {
    &::after {
      background-image: url('/images/2x/menu-bullet.png');
    }
  }
}