#nav-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  z-index: 1;
}

#nav-side {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;

  #main, #chapter {
    position: absolute;
    right: 3vw;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  #main {
    width: 40px;
    height: 214px;

    .path, .ghost-path {
      stroke-width: 9px;
    }
  }

  #chapter {
    width: 40px;
    height: 114px;

    .path, .ghost-path {
      stroke-width: 6px;
    }
  }

  .path, .ghost-path {
    fill: none;
  }
  .path, .ghost-path {
    stroke: $brand-primary;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .ghost-path {
    opacity: 0.5;
  }
}

@include media-breakpoint-up(lg) {
  #nav-side {
    #main {
      width: 60px;
      height: 320px;
    }

    #chapter {
      width: 60px;
      height: 190px;
    }
  }
}